*{
    box-sizing: border-box;
}

.main{
    max-width: 1080px;
    margin:auto;
    padding: 0 2rem;
    display: flex;
    align-items: stretch;

}

.display-postings-section{
    flex-basis: 50%;
    flex-grow: 1;
}

.display-job-section{
    margin-left: 1rem;
    flex-basis: 40%;
    flex-grow:1;
}

.title {
    margin: 30px;
    text-align: center;
    font-size: 30px !important;
    font-weight: 600;
}

.searchForm {
    text-align: center;
}

.textBox {
    margin: 10px !important;
}

input[type="file"] {
    display: none;
}

.fileUploadLabel {
    margin: 10px !important;
    padding: 10px !important;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
